@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #181116;
  --color-hot-pink: #d63484;
  --color-pink: #ff9bd2;
  --color-white: #f8f4ec;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-black);
  color: var(--color-tertiary);
  font-family: "Press Start 2P", system-ui, sans-serif;
}

h1 {
  font-size: 3em;
  color: var(--color-hot-pink);
}

h2 {
  font-size: 2.5em;
  color: var(--color-pink);
}

p {
  font-size: 2em;
  color: var(--color-white);
}

button {
  font-size: 1em;
  color: var(--color-white);
  background-color: var(--color-hot-pink);
  border: 2px solid var(--color-pink);
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-pink);
}
